/* Styles for breakfast / lunch / dinner */
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    flex: 0 0 auto;
 }
 
main {
    flex: 1 0 auto;
}
 
footer{
    width: 100%;
    flex: 0 0 auto;
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: center;
}

.copyright {
    margin: 10px 50px 10px 0;
}
 
 