html{
    height: 100%;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    flex: 0 0 auto;
}
 
main {
    flex: 1 0 auto;
}

img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}
 
footer{
    width: 100%;
    flex: 0 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #343a40;

    margin-top: 20px;
}

.copyright {
    margin: 10px 50px 10px 0;
}

a {
    color: white;
}

a:hover {
    color: white;
}

input {
    margin-bottom: 20px;
}