#addBtn {
    margin-right: 10px;
}

img {
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
    display: flex;
    justify-content: space-between;
}

.backTop {
    margin: 10px 0 10px 50px;
}

.copyright {
    margin: 10px 50px 10px 0;
}